.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  max-width: var(--maxWidthApp);
  padding-top: 22px;
}

.brandContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newTaskContainer {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 42px;
}

.newTaskInput {
  flex: 1;
}

@media (max-width: 840px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
